.infoPage{

}
.background{
    /*width: 900px;*/
    /*height: 1000px;*/
    filter:blur(6px);
    position: absolute;
}
.poster{
    z-index: 2;
    width: 300px;
    height: 330px;
    position: relative;
    box-sizing: border-box;
    border: 12px solid grey;
    box-shadow: grey;
    border-radius: 20px;
}
.description{
    z-index: 20;
    position: relative;
    font-size: 20px;
    font-width: 20px;;
}