.leftBar {

}

.button {
    display: block;
}

.mainContent {
    display: flex;
    list-style: none;
}

.pages {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

}

.page {
    margin-left: 20px;
    font-size: 20px;
    font-weight: lighter;
    cursor: pointer;
}
.button{
    margin: 10px;
    border: 1px solid grey;
    border-radius:15px;
    list-style: none;

}
.button:hover{
    margin: 10px;
    border: 3px solid grey;

}
.menuWraper{
    list-style: none;
}