.wraper{
    border: 1px solid grey;
    margin-bottom: 10px;
/*margin: 10px;*/

}
.paggination{
    display: block;
    justify-content: center;
    margin-top: 15px;
    flex-wrap: nowrap;
    height: 40px;
    width: 200px;
}
.button {
    display: block;
}
.bottom{
    display: inline-block;
    flex-wrap: nowrap;
    align-items: end;

    justify-content: center;
    /*position: relative;*/
}
.mainContent {
    display: flex;
    list-style: none;
    box-sizing: border-box;
    /*align-items: center;*/
    position: relative;

}

.pages {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;


}

.leftBar {
    display: block;
}

.right {
    display: flex;
}

.picture {
    width: 200px;
    height: 200px;
    display: block;
}
.title{
    display: block;
    justify-content: center;
    width: 150px;
}
.container {
    height: 200px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
}

.page {
    margin-left: 20px;
    font-size: 20px;
    font-weight: lighter;
    cursor: pointer;
}

.button {
    margin: 10px;
    border: 1px solid grey;
    border-radius: 15px;
    list-style: none;

}

.button:hover {
    margin: 10px;
    border: 3px solid grey;

}

.menuWraper {
    list-style: none;
}